---
import GroupLemonPunch from '../../assets/images/lmp-color-about.jpg';

const INSTAGRAM = import.meta.env.INSTAGRAM_LINK || '#';
const FACEBOOK = import.meta.env.FACEBOOK_LINK || '#';
const YOUTUBE = import.meta.env.YOUTUBE_LINK || '#';
const SPOTIFY = import.meta.env.SPOTIFY_LINK || '#';
---

<section class="about-section" id="about">
    <div class="container">
        <div class="about-content">
            <div class="about-text">
                <h2 class="section-title">À propos de Lemon Punch</h2>
                <p>Lemon Punch est un trio rock français qui réinvente l’énergie brute des années 80 en fusionnant
                    les codes du rock américain et britannique dans une performance scénique explosive. Composé de trois
                    musiciens animés par une même passion, le groupe déploie un univers sonore vibrant, haut en couleurs
                    et débordant d'énergie.
                </p>

                <p>Concert après concert, ce trio laisse une empreinte mémorable et compte bien poursuivre sur cette
                    lancée. Le vrai rock se trouve ici, pas besoin de chercher outre-Atlantique : foncez voir Lemon Punch !
                </p>

                <div class="social-links">
                    <a href={INSTAGRAM} target="_blank" class="social-link"><i class="fab fa-instagram"></i></a>
                    <a href={FACEBOOK} target="_blank" class="social-link"><i class="fab fa-facebook"></i></a>
                    <a href={YOUTUBE} target="_blank" class="social-link"><i class="fab fa-youtube"></i></a>
                    <a href={SPOTIFY} target="_blank" class="social-link"><i class="fab fa-spotify"></i></a>
                </div>
            </div>
            <div class="about-image">
                <img src={GroupLemonPunch.src}
                     alt="LemonPunch Band Photo"
                     title="LemonPunch Band Photo"
                     class="about-photo">
            </div>
        </div>
    </div>
</section>